<configuration>

  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeCallerData>false</includeCallerData>
    </encoder>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <if condition='isDefined("AWS_LAMBDA_FUNCTION_NAME")'>
    <then>
      <root level="info">
        <appender-ref ref="JSON"/>
      </root>
    </then>
    <else>
      <root level="info">
        <appender-ref ref="CONSOLE"/>
      </root>
    </else>
  </if>

</configuration>
